//light
$bg-light: #FFFFFF;
$text-light: #263238;

$footer-light: rgba(242, 248, 242, 0.5);

$greenItem: rgba(0, 128, 0, 0.1);
$card-light: rgba(0, 128, 0, 0.05);

//dark
$bg-dark: #263238;
$text-dark: #FFFFFF;

$footer-dark: rgba(53, 64, 70, 0.5);

$greenItem-dark: rgba(0, 128, 0, 0.1);
$card-dark: rgba(255, 255, 255, 0.05);

//all color
$green: #008000;