@import './color';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: $bg-light;
}

.ellipse {
  position: absolute;
  width: 585px;
  height: 585px;
  border: 1px solid $green;
  border-radius: 50%;
  z-index: -1;
}

.iconFilling {
  position: absolute;
}

#moneyBag {
  left: 68%;
  top: 144px;
}

#star {
  left: 20%;
  top: 389px;
}

#ellipse {
  left: 77%;
  top: 429px;
}

#naira {
  left: 91%;
  top: 377px;
}

#dollar {
  left: 8%;
  top: 692px;
}

#borderEllipse {
  left: 29%;
  top: 767px;
}

#borderStar {
  left: 77%;
  top: 776px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 70px 150px 0 150px;

  * {
    font-family: 'Lato', sans-serif;
  }

  .logo {
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: $text-light;
  }

  .link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;

    .linkElement {
      margin-right: 44px;
    }

    .linkElement:last-child {
      margin-right: 0;
    }

    .scroll {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: $text-light;
      text-decoration: none;
    }
  }

  .mode {
    cursor: pointer;
  }

  img {
    width: 32px;
    height: 32px;
  }
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: $text-light;
  margin-bottom: 70px;
}

.selection {
  color: $green;
}

.tagline {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: $text-light;
}

.input {
  width: 533px;
  height: 76px;
  background: rgba(38, 50, 56, 0.1);
  border: none;
  border-radius: 10px;
  outline: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: $text-light;
  padding-left: 25px;
}

.button {
  background-color: $green;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: $bg-light;
  cursor: pointer;
}

.wrapper {
  padding: 0 250px;

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 125px 0;

    .tagline {
      width: 725px;
      text-align: center;
      margin-bottom: 48px;
    }

    .getStart {
      position: relative;
      display: flex;
      align-items: center;

      .button {
        position: absolute;
        right: 6px;
        padding: 22px 25px;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;

    .info {
      width: 574px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .title {
        text-align: start;
      }

      .tagline {
        margin-bottom: 25px;
      }

      .powers {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .powersItem {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 490px;
          margin-bottom: 48px;

          .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 110px;
            height: 110px;
            border-radius: 50%;
            background-color: $greenItem;
            margin-right: 35px;

            img {
              width: 54px;
              height: 54px;
            }
          }

          .description {
            width: 335px;
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            color: $text-light;
          }
        }
      }
    }

    #ref {
      justify-content: flex-end;
    }

    .card {
      position: relative;
      overflow: hidden;
      background: $card-light;
      border-radius: 20px;
      padding: 166px 45px;

      .ellipse-bottom {
        left: 317.3px;
      }

      .ellipse-top {
        left: 320.42px;
      }

      img {
        width: 100%;
        border-radius: 20px;
      }
    }
  }

  #cadre {
    .ellipse-bottom {
      top: 470px;
    }

    .ellipse-top {
      top: 410px;
    }
  }

  #finance {
    flex-direction: column;

    .title {
      text-align: start;
    }

    .tagline {
      margin-bottom: 25px;
    }

    .distribution {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  #it {
    .ellipse-bottom {
      top: 220px;
    }

    .ellipse-top {
      top: 160px;
      left: 185px;
    }
  }

  #pr {
    .ellipse-bottom {
      top: 210px;
      left: -280px
    }

    .ellipse-top {
      top: 160px;
      left: -390px;
    }
  }

  .ellipse-bottom {
    left: -171px;
    top: -206px;
  }

  .ellipse-top {
    left: -116px;
    top: -261px;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $footer-light;
  padding: 80px 150px 100px 150px;

  .simpleInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .footerTitle {
      font-weight: 500;
      font-size: 22px;
      line-height: 25px;
      color: $text-light;
      margin-bottom: 25px;
    }

    .footerTagline {
      width: 352px;
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      color: $text-light;
    }
  }

  .contactUs {
    display: flex;
    flex-direction: column;

    .contactUsItem {
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;

      .contactTitle {
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        color: $text-light;
        margin-bottom: 15px;
      }

      .contactItem {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $text-light;
        text-decoration: none;
      }
    }
  }
}

.darkMode {
  background-color: $bg-dark;

  .header {
    .logo {
      color: $text-dark;
    }

    .link {
      .scroll {
        color: $text-dark;
      }
    }
  }

  .title {
    color: $text-dark;
  }

  .tagline {
    color: $text-dark;
  }

  .input {
    background: $text-dark;
  }

  .wrapper {
    .container {
      .info {
        .powers {
          .powersItem {
            .icon {
              background: $greenItem-dark;
            }

            .description {
              color: $text-dark;
            }
          }
        }
      }

      .card {
        background: $card-dark;
      }
    }
  }

  .footer {
    background: $footer-dark;

    .simpleInfo {
      .footerTitle {
        color: $text-dark;
      }

      .footerTagline {
        color: $text-dark;
      }
    }

    .contactUs {
      .contactUsItem {
        .contactTitle {
          color: $text-dark;
        }

        .contactItem {
          color: $text-dark;
        }
      }
    }
  }
}

@media (min-width: 1440px) and (max-width: 1919px) {
  .wrapper {
    padding: 0 150px;

    .container {
      .info {
        margin: 0 20px;
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .header {
    padding: 50px 50px 0 50px;
  }

  .wrapper {
    padding: 0 50px;

    .container {
      justify-content: center;
      align-items: center;

      .info {
        width: auto;
        align-items: center;

        .title {
          margin-bottom: 50px;
        }

        .powers {
          .powersItem {
            width: auto;
          }
        }
      }

      .card {
        display: none;
      }
    }
  }

  .footer {
    padding: 80px 50px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    padding: 20px 40px 0 40px;

    .nav {
      display: none;
    }
  }

  .title {
    margin-bottom: 25px;
  }

  .wrapper {
    padding: 0 40px;

    .container {
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;

      .info {
        align-items: center;
        width: auto;

        .title {
          text-align: center;
          margin-bottom: 30px;
        }

        .tagline {
          text-align: center;
        }
      }

      .card {
        display: none;
      }
    }

    #finance {
      .title {
        text-align: center;
      }

      .distribution {
        flex-direction: column;
      }
    }
  }

  .footer {
    padding: 50px;
  }
}

@media (min-width: 425px) and (max-width: 765px) {
  .ellipse {
    width: 255px;
    height: 255px;
  }

  .header {
    padding: 20px 40px 0 40px;

    .nav {
      display: none;
    }
  }

  .title {
    margin-bottom: 25px;
    font-size: 40px;
    line-height: 45px;
  }

  .tagline {
    line-height: 26px;
  }

  .iconFilling {
    display: none;
  }

  .input {
    width: 360px;
    height: 50px;
  }

  .wrapper {
    padding: 0 30px;

    .ellipse-bottom {
      left: -60px;
      top: -140px;
    }

    .ellipse-top {
      left: -45px;
      top: -160px;
    }

    .about {
      padding: 70px 0;

      .tagline {
        width: auto;
      }

      .getStart {
        .button {
          padding: 10px 15px;
        }
      }
    }

    .container {
      margin-bottom: 50px;

      .info {
        width: auto;

        .title {
          text-align: center;
        }

        .tagline {
          text-align: center;
        }

        .powers {
          .powersItem {
            width: auto;
            display: grid;
            grid-template: ". .";

            .icon {
              width: 60px;
              height: 60px;

              img {
                width: 36px;
                height: 36px;
              }
            }

            .description {
              width: auto;
              font-size: 15px;
            }
          }
        }
      }

      .card {
        display: none;
      }
    }

    #finance {
      .title {
        text-align: center;
      }

      .tagline {
        text-align: center;
      }

      .distribution {
        flex-direction: column;
      }
    }
  }

  .footer {
    flex-direction: column;
    padding: 35px;

    .simpleInfo {
      margin-bottom: 25px;
    }
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .ellipse {
    width: 255px;
    height: 255px;
  }

  .header {
    padding: 20px 20px 0 20px;

    .logo {
      font-size: 26px;
    }

    img {
      width: 30px;
      height: 30px;
    }

    .nav {
      display: none;
    }
  }

  .title {
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 35px;
  }

  .tagline {
    line-height: 26px;
  }

  .iconFilling {
    display: none;
  }

  .input {
    width: 300px;
    height: 50px;
  }

  .wrapper {
    padding: 0 10px;

    .ellipse-bottom {
      left: -60px;
      top: -140px;
    }

    .ellipse-top {
      left: -45px;
      top: -160px;
    }

    .about {
      padding: 70px 0;

      .tagline {
        width: auto;
      }

      .getStart {
        .button {
          padding: 10px 15px;
        }
      }
    }

    .container {
      margin-bottom: 50px;

      .info {
        width: auto;

        .title {
          text-align: center;
        }

        .tagline {
          text-align: center;
        }

        .powers {
          .powersItem {
            width: auto;
            display: grid;
            grid-template: ". .";

            .icon {
              width: 60px;
              height: 60px;

              img {
                width: 36px;
                height: 36px;
              }
            }

            .description {
              width: auto;
              font-size: 15px;
              line-height: 22px;
            }
          }
        }
      }

      .card {
        display: none;
      }
    }

    #finance {
      .title {
        text-align: center;
      }

      .tagline {
        text-align: center;
      }

      .distribution {
        flex-direction: column;
      }
    }
  }

  .footer {
    flex-direction: column;
    padding: 35px;

    .simpleInfo {
      margin-bottom: 25px;

      .footerTagline {
        width: auto;
      }
    }
  }
}